apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
  labels:
    app: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:latest
          env:
            - name: TZ
              value: Europe/Warsaw
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - mountPath: /config
              name: config
              readOnly: false
            - mountPath: /metadata
              name: metadata
              readOnly: false
            - mountPath: /audiobooks
              name: audiobooks
              readOnly: true
      volumes:
        - name: config
          hostPath:
            path: /srv/audiobookshelf/config
            type: DirectoryOrCreate
        - name: metadata
          hostPath:
            path: /srv/audiobookshelf/metadata
            type: DirectoryOrCreate
        - name: audiobooks
          hostPath:
            path: /srv/audiobookshelf/audiobooks
            type: DirectoryOrCreate
