apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
  labels:
    app: audiobookshelf
spec:
  type: NodePort
  selector:
    app: audiobookshelf
  ports:
    - port: 80
      targetPort: http
      nodePort: 30200
