apiVersion: v1
kind: Service
metadata:
  name: linkding
  labels:
    app: linkding
spec:
  type: NodePort
  selector:
    app: linkding
  ports:
    - port: 9090
      targetPort: http
      nodePort: 30201
