name: infra-k3s-ci
run-name: linting and security checks
on: 
  push:
  pull_request:
    branches: ["main"]
jobs:
  yamllint:
    name: YAML Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install yamllint
        run: |
          python3 -m pip install --upgrade pip
          pip install yamllint
      
      - name: Run yamllint
        run: |
          yamllint -c .yamllint.yml .
  kubeconform:
    name: Validating kube manifests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run kubeconform validation
        uses: docker://ghcr.io/yannh/kubeconform:latest
        with:
          entrypoint: '/kubeconform'
          args: "-strict -summary audiobookshelf/"
  gitleaks:
    name: Gitleaks scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  trivy:
    name: Trivy Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run trivy config scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: config
          scan-ref: .
          format: table
          exit-code: '1'
          severity: HIGH,CRITICAL
